body {
--vamtam-body-link-regular:#000000;
--vamtam-body-link-visited:#000000;
--vamtam-body-link-hover:#00000099;
--vamtam-body-link-active:#00000099;
--vamtam-input-border-radius:0px 0px 0px 0px;
--vamtam-input-border-color:#0000001A;
--vamtam-btn-text-color:#FFFFFF;
--vamtam-btn-hover-text-color:#000000;
--vamtam-btn-bg-color:#000000;
--vamtam-btn-hover-bg-color:#FFFFFF;
--vamtam-site-max-width:2600px;
--vamtam-primary-font-color:#000000;
--vamtam-h1-color:#000000;
--vamtam-h2-color:#000000;
--vamtam-h3-color:#000000;
--vamtam-h4-color:#000000;
--vamtam-h5-color:#000000;
--vamtam-h6-color:#000000;
--vamtam-accent-color-1:#181616;
--vamtam-accent-color-1-hc:#FFFFFF;
--vamtam-accent-color-1-rgb:24,22,22;
--vamtam-accent-color-2:#F7F7F7;
--vamtam-accent-color-2-hc:#000000;
--vamtam-accent-color-2-rgb:247,247,247;
--vamtam-accent-color-3:#3A3535;
--vamtam-accent-color-3-hc:#FFFFFF;
--vamtam-accent-color-3-rgb:58,53,53;
--vamtam-accent-color-4:#B2B2B2;
--vamtam-accent-color-4-hc:#000000;
--vamtam-accent-color-4-rgb:178,178,178;
--vamtam-accent-color-5:#FFFFFF;
--vamtam-accent-color-5-hc:#000000;
--vamtam-accent-color-5-rgb:255,255,255;
--vamtam-accent-color-6:#000000;
--vamtam-accent-color-6-hc:#FFFFFF;
--vamtam-accent-color-6-rgb:0,0,0;
--vamtam-accent-color-7:#0000001A;
--vamtam-accent-color-7-hc:#FFFFFF;
--vamtam-accent-color-7-rgb:0,0,0;
--vamtam-accent-color-8:#00000099;
--vamtam-accent-color-8-hc:#FFFFFF;
--vamtam-accent-color-8-rgb:0,0,0;
--vamtam-sticky-header-bg-color:#FFFFFF;
--vamtam-primary-font-font-family:'Montserrat';
--vamtam-primary-font-font-weight:400;
--vamtam-primary-font-font-style:normal;
--vamtam-primary-font-transform:none;
--vamtam-primary-font-font-size-desktop:16px;
--vamtam-primary-font-font-size-tablet:16px;
--vamtam-primary-font-font-size-phone:16px;
--vamtam-primary-font-line-height-desktop:1.4;
--vamtam-primary-font-line-height-tablet:1.4;
--vamtam-primary-font-line-height-phone:1.5;
--vamtam-h1-font-family:'Montserrat';
--vamtam-h1-font-weight:400;
--vamtam-h1-transform:uppercase;
--vamtam-h1-font-size-desktop:68px;
--vamtam-h1-font-size-tablet:46px;
--vamtam-h1-font-size-phone:30px;
--vamtam-h1-line-height-desktop:1.05;
--vamtam-h1-line-height-tablet:1.1;
--vamtam-h1-line-height-phone:1.1;
--vamtam-h2-font-family:'Montserrat';
--vamtam-h2-font-weight:400;
--vamtam-h2-transform:uppercase;
--vamtam-h2-font-size-desktop:48px;
--vamtam-h2-font-size-tablet:38px;
--vamtam-h2-font-size-phone:25px;
--vamtam-h2-line-height-desktop:1.2;
--vamtam-h2-line-height-tablet:1.2;
--vamtam-h2-line-height-phone:1.2;
--vamtam-h3-font-family:'Montserrat';
--vamtam-h3-font-weight:400;
--vamtam-h3-transform:uppercase;
--vamtam-h3-font-size-desktop:38px;
--vamtam-h3-font-size-tablet:30px;
--vamtam-h3-font-size-phone:22px;
--vamtam-h3-line-height-desktop:1.3;
--vamtam-h3-line-height-tablet:1.1;
--vamtam-h3-line-height-phone:1.2;
--vamtam-h4-font-family:'Montserrat';
--vamtam-h4-font-weight:400;
--vamtam-h4-transform:uppercase;
--vamtam-h4-font-size-desktop:30px;
--vamtam-h4-font-size-tablet:25px;
--vamtam-h4-font-size-phone:19px;
--vamtam-h4-line-height-desktop:1.3;
--vamtam-h4-line-height-tablet:1.3;
--vamtam-h4-line-height-phone:1.4;
--vamtam-h5-font-family:'Montserrat';
--vamtam-h5-font-weight:400;
--vamtam-h5-transform:uppercase;
--vamtam-h5-font-size-desktop:20px;
--vamtam-h5-font-size-tablet:19px;
--vamtam-h5-font-size-phone:17px;
--vamtam-h5-line-height-desktop:1.4;
--vamtam-h5-line-height-tablet:1.1;
--vamtam-h5-line-height-phone:1.2;
--vamtam-h6-font-family:'Montserrat';
--vamtam-h6-font-weight:400;
--vamtam-h6-transform:uppercase;
--vamtam-h6-font-size-desktop:16px;
--vamtam-h6-font-size-tablet:16px;
--vamtam-h6-font-size-phone:15px;
--vamtam-h6-line-height-desktop:1.5;
--vamtam-h6-line-height-tablet:1;
--vamtam-h6-line-height-phone:1.2;
--vamtam-icon-pay:'\e928';
--vamtam-icon-products:'\e929';
--vamtam-icon-save:'\e92a';
--vamtam-icon-barcode:'\e91e';
--vamtam-icon-comments:'\e91f';
--vamtam-icon-credit-locked:'\e920';
--vamtam-icon-delivery-fast:'\e921';
--vamtam-icon-headset:'\e922';
--vamtam-icon-shop:'\e924';
--vamtam-icon-Star-border:'\e925';
--vamtam-icon-star-empty:'\e926';
--vamtam-icon-star-fill:'\e927';
--vamtam-icon-filter:'\e91b';
--vamtam-icon-wishlist-empty:'\e91a';
--vamtam-icon-line:'\e919';
--vamtam-icon-leather:'\e915';
--vamtam-icon-paper:'\e917';
--vamtam-icon-plastic:'\e918';
--vamtam-icon-cotton:'\e914';
--vamtam-icon-packaging:'\e916';
--vamtam-icon-minus:'\e912';
--vamtam-icon-plus:'\e913';
--vamtam-icon-tailor-model:'\e911';
--vamtam-icon-tailor:'\e910';
--vamtam-icon-shipping:'\e90e';
--vamtam-icon-Size:'\e90f';
--vamtam-icon-search:'\e909';
--vamtam-icon-Play:'\e90d';
--vamtam-icon-menu:'\e908';
--vamtam-icon-arrow-1-left:'\e90c';
--vamtam-icon-arrow-1-right:'\e900';
--vamtam-icon-arrow-down:'\e901';
--vamtam-icon-arrow-top:'\e91c';
--vamtam-icon-arrow-left:'\e902';
--vamtam-icon-arrow-right:'\e903';
--vamtam-icon-bag:'\e904';
--vamtam-icon-close:'\e905';
--vamtam-icon-fav-full:'\e906';
--vamtam-icon-fav:'\e907';
--vamtam-icon-user:'\e90a';
--vamtam-icon-world:'\e90b';
--vamtam-icon-arrow-menu:'\e91d';
--vamtam-form_field_border_border:solid;
--vamtam-form_field_border_width:1px 1px 1px 1px;
--vamtam-form_field_border_radius:0px 0px 0px 0px;
--vamtam-form_field_focus_border_border:solid;
--vamtam-form_field_padding:10px 15px 10px 15px;
--vamtam-form_label_color:#000000;
--vamtam-form_label_typography_font_family:Montserrat;
--vamtam-form_label_typography_font_weight:600;
--vamtam-form_label_typography_text_transform:none;
--vamtam-form_field_typography_font_family:Montserrat;
--vamtam-form_field_typography_font_size:14px;
--vamtam-form_field_typography_font_weight:400;
--vamtam-form_field_typography_line_height:1.4em;
--vamtam-form_field_typography_letter_spacing:-0.2px;
--vamtam-form_field_typography_word_spacing:0em;
--vamtam-form_field_text_color:#000000;
--vamtam-form_field_accent_color:#000000;
--vamtam-form_field_background_color:#FFFFFF;
--vamtam-form_field_border_color:#0000001A;
--vamtam-form_field_focus_border_color:#000000;
--vamtam-form_field_typography_font_size_mobile:16px;
}